{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
    <div class="container text-center">
        <h1>About Me</h1>
        <img src="https://scontent.ftij3-1.fna.fbcdn.net/v/t39.30808-6/278643215_7261319123939354_1700413318940206408_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHPdvThhyFuOkoA_vV26Z3P_0FjtIsBrIv_QWO0iwGsi3uWFu3rZ9JRYqu2uwtQVLLNYuXHXRZFFXzT1kYxVJi8&_nc_ohc=wna2g5o9NlsAX9HRNFp&_nc_ht=scontent.ftij3-1.fna&oh=00_AT86sC0W9Tx4Mu4mUJj6JohJntDQz1mvTwT5PwWIbyhsaQ&oe=62F750FC" class="img-thumbnail" alt="profile_picture" style="max-width: 200px; border: 5px solid  #0275d8; margin: 10px;">
        <p>My name is Eduardo.</p>
    </div>
{% endblock content %}